@model ProjectManagement.Models.AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="color: orange">
    <h3>@Model.Author</h3>
</div>


<body>
    <table border="1">
        <tr>
            <td>
                a
            </td>
            <td>
                b
            </td>
            <td>
                c
            </td>
        </tr>
        <tr>
            <td>
                d
            </td>
            <td>
                e
            </td>
            <td>
                f
            </td>
        </tr>
        <tr>
            <td>
                g
            </td>
            <td>
                h
            </td>
            <td>
                i
            </td>
        </tr>
    </table>
    <p>

    </p>
    <div>
        <p align="justify">
Arsenal Football Club is an English professional football club based in Highbury, London, that plays in the Premier League, the top flight of English football. The club has won 12 FA Cups, a joint-record, 13 League titles, two League Cups, 14 FA Community Shields, one UEFA Cup Winners' Cup and one Inter-Cities Fairs Cup.
Arsenal was the first club from the South of England to join The Football League, in 1893. They entered the First Division in 1904, and have since accumulated the second most points.[3] Relegated only once, in 1913, they continue the longest streak in the top division.[4] In the 1930s, Arsenal won five League Championships and two FA Cups, and another FA Cup and two Championships after the war. In 1970–71, they won their first League and FA Cup Double. Between 1989 and 2005, they won five League titles and five FA Cups, including two more Doubles. They completed the 20th century with the highest average league position.[5]        </p>
    </div>
</body>


<p>Use this area to provide additional information.</p>
